@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay-holder {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.overlay-holder > * {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
